<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="ribbon14-wrapper">
        <span class="ribbon14">Profile</span>
      </div>
    </div>
    <div class="col-sm-2">
      <%= image_tag "LisBlanc.png", class: "logo" %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="lisblanc">
        <%= image_tag "style.JPG", class: 'profile_img' %>
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <h3 class="lisblanc-text">LisBlanc主宰</h3>
      <div class="name">
        <p class="ishidayuriko">石田百合子</p>
        <p class="yuriko_kana">IshidaYuriko</p>
      </div>
      <div class="lifestyle">
        <p>”女性のライフスタイルに華と彩を”</p>
      </div>
      <div class="lifestyle-text">
        <p>をコンセプトに、女性の外見と内面の
           ブラッシュアップサロン”Lis blanc(リブラン)”を創設
        </p>
      </div>
    </div>
  </div>
</div>
<div class="carrer">
  <h3 class="carrer-text">経歴</h3>
</div>
<div class="history">
  <p class="history-text">
  都内カラリストスクール・ワム卒業。同校認定講師。<br>
  （社）日本カラリスト協会認定講師。色彩診断士、検定指導員<br>
  同協会認定パーソナルカラリスト・トータルカラリスト<br>
  （社）日本色彩環境協会認定・色彩福祉士骨格診断アナリスト<br>

  大手通信教育企業や大手保険会社、百貨店等、企業や地域行政機関でのセミナー講師。<br>

  現在は専修高等学校にてファッションデザイン・色彩講師としても教鞭中。<br>
  </p>
</div>
<div class="sns">
  <%= link_to image_tag("instagram.png" , class: 'insta'), "https://www.instagram.com/yuricol-smor/", target: :_blank, rel: "noopener noreferrer" %>
  <%= link_to image_tag("facebook.png", class: 'facebook'), "https://www.facebook.com/ishida.yuriko.12", target: :_blank, rel: "noopener noreferrer" %>  
  <%= link_to image_tag("line.png", class: 'line'), "https://lin.ee/ZLwwCja", target: :_blank, rel: "noopener noreferrer" %>
</div>
<div class="message">
  <h3 class="message-text">Message</h3>
  <p class="message-title">運勢は 生まれた<br class="br-sp">日より”選んだ服”で<br class="br-sp">決まると思う</p>
  <p class="yuriko_message">
    私の好きな言葉です。<br>
    私は占いではなく<br class="br-sp">”どんな服を纏うか”で<br>
    その日の運勢は<br class="br-sp">決まると考えています。<br>
    <br>
    <br>
    あなたの身体を包む<br class="br-sp">衣服、<br class="br-sp">あなたの持つバック<br>
    あなたのお顔を包む<br class="br-sp">ヘアスタイル、<br class="br-sp">あなたの施すメイク<br>
    <br>
    <br>
    全てあなたが選んだ<br class="br-sp">ものです。<br>
    いわば<br class="br-sp">あなた”そのもの”です。<br>
    <br>
    <br>
    装うことは、<br class="br-sp">実は裸でいるよりも<br>
    自分らしさが表れている<br class="br-sp">かもしれません<br>
    <br>
    <br>
    内面と外見は表裏一体<br>
    <br>
    外見のイメージを<br class="br-sp">整えることで、<br class="br-sp">内面のマインドが美しく変わって行くのが、<br>
    柔軟な女性ならではの<br class="br-sp">強みです<br>
    <br>
    つまり、<br>
    外見を整えることで、<br class="br-sp">おしゃれもビジネスも<br class="br-sp">恋愛も<br>
    もっと うまくいくように<br class="br-sp">なりますよ♡<br>
    <br>
    可愛く賢くイメージも<br class="br-sp">マインドもあげて<br>
    選ばれる女性に<br class="br-sp">なりましょう！<br>
  </p>
  <p class="yurikosname">石田百合子</p>
</div>
