<h2 class="blog-h2">Blog</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-7">
    <% @articles.each do |article| %>
      <%= link_to article_path(article), class: 'article-block' do %>
        <div class="flex">
          <%= image_tag "#{article.thumbnail}", :size => '320x200' %>
          <div class="title-body">
            <h4 class="title"><%= article.title %></h4>
            <p class="body"><%= article.body[0..25]%>.....</p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <div class="col-5">
      <div class="YM">      
        <% @articles_per_months.each do |key, value| %>
          <% article_id = Article.where(created_at: key)[0].id %>
          <% date = key.strftime("%Y年%m月").gsub('年', '/').gsub('月', '/') # 文字列でDate型変換の準備 %>
          <% date = Date.parse(date)# Date型に変換 %>
          <% last_date = date.end_of_month # 月の最終日を取得 %>
          <% article_instance = Article.where(created_at: date..last_date) # 範囲検索 %>
          <% article_title= article_instance[0].title %>
          <input id=<%="acd-check1"%> class="acd-check" type="checkbox">
          <label class="acd-label" for="acd-check1"><%= key.strftime("%Y年%m月") %>(<%= value %>)</label>
          <div class="acd-content">
            <%= link_to "#{article_title}", article_path(article_id) %>
          </div>
        <% end %> 
      </div>
    <div>
  </div>
</div>

<%= paginate @articles %>
