<h2 class="blog-h2">Blog</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-7">
    <% @articles.each do |article| %>
      <%= link_to article_path(article), class: 'article-block' do %>
        <div class="flex">
          <%= image_tag "#{article.thumbnail}", :size => '320x200' %>
          <div class="title-body">
            <h4 class="title"><%= article.title %></h4>
            <p class="body"><%= article.body[0..25]%>.....</p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <div class="col-5">
      <div class="YM">      
        <% @articles_per_months.each_with_index do |(key, articles_per_months), idx| %>
          <% article_id = articles_per_months.first.id %>
          <% article_title = articles_per_months.first.title %>
          <input id=<%="acd-check#{idx}"%> class="acd-check" type="checkbox">
          <label class="acd-label" for="<%="acd-check#{idx}"%>"><%= key %>(<%= articles_per_months.count %>)</label>
          <div class="acd-content">
            <%= link_to "#{article_title}", article_path(article_id) %>
          </div>
        <% end %> 
      </div>
    <div>
  </div>
</div>

<%= paginate @articles %>
