<% provide(:title, 'お問い合わせ') %>

<%= render partial: '/shared/header' %>

<%= form_with model: @contact, url: confirm_contacts_path(@contact), local: true do |f| %>
<div class='container-fluid text-center w-75' id='content'>
  <div class='mt-2 mb-5 mr-5'>
    <h2 class='display-4'>Contact</h2>
    <span><p class='small'>お問い合わせ</p></span>
  </div>
  <form>
    <div class='form-group row'>
      <%= f.label :name, '名前', class: 'col-sm-2 col-form-label' %>
      <div class='col-sm-10'>
        <%= f.text_field :name, class: 'form-control form-control-lg col-sm-8', placeholder: '名前を入力してください' %>
      </div>
    </div>
    <div class='form-group row mt-5'>
      <%= f.label :name_hiragana, 'ふりがな', class: 'col-sm-2 col-form-label' %>
      <div class='col-sm-10'>
        <%= f.text_field :name_hiragana, class: 'form-control form-control-lg col-sm-8', placeholder: 'ふりがなを入力してください' %>
      </div>
    </div>
    <div class='form-group row mt-5'>
      <%= f.label :email, 'メールアドレス', class: 'col-sm-2 col-form-label' %>
      <div class='col-sm-10'>
        <%= f.email_field :email, class: 'form-control form-control-lg col-sm-8', placeholder: 'メールアドレスを入力してください' %>
      </div>
    </div>
  </form>
  <div class='row mt-5'>
    <%= f.label :matter, 'ご内容', class: 'col-sm-2 col-form-label'%>
    <div class='col-sm-10 text-left pt-2'>
      <div class='row ml-1'>
        <div class='form-check form-check-inline col-sm-3'>
          <%= f.radio_button :matter, :reserve, class: 'form-check-input' %>
          <%= f.label :matter, 'ご予約', class: 'form-check-label' %>
        </div>
        <div class='form-check form-check-inline col-sm-3'>
          <%= f.radio_button :matter, :inquiry, class: 'form-check-input' %>
          <%= f.label :matter, 'お問い合わせ', class: 'form-check-label' %>
        </div>
        <div class='form-check form-check-inline col-sm-3'>
          <%= f.radio_button :matter, :other, class: 'form-check-input' %>
          <%= f.label :matter, 'その他', class: 'form-check-label' %>
        </div>
      </div>
    </div>
  </div>
  <div class='row mt-5'>
    <%= f.label :menu, 'ご希望のメニュー', class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-9 text-left pt-2 ml-1'>
      <div class='form-check form-check-inline row'>
        <div class='checkbox-inline col-sm-3'>
          <%= f.radio_button :menu, :total_course, class: 'form-check-input' %>
          <%= f.label :menu, 'トータルコース', class: 'form-check-label mr-2' %>
        </div>
        <div class='checkbox-inline col-sm-4'>
          <%= f.radio_button :menu, :personal_color_analysis, class: 'form-check-input' %>
          <%= f.label :menu, 'パーソナルカラー診断', class: 'form-check-label mr-2' %>
        </div>
        <div class='checkbox-inline col-sm-4'>
          <%= f.radio_button :menu, :face_type_skeleton_diagnosis, class: 'form-check-input' %>
          <%= f.label :menu, '顔タイプ骨格診断', class: 'form-check-label mr-2' %>
        </div>
        <div class='checkbox-inline col-sm-3 mt-4'>
          <%= f.radio_button :menu, :purchase_color_sample_book, class: 'form-check-input' %>
          <%= f.label :menu, '色見本帳購入', class: 'form-check-label mr-2' %>
        </div>
        <div class='checkbox-inline col-sm-5 mt-4'>
          <%= f.radio_button :menu, :free_consultation_for_personal_color_training_course, class: 'form-check-input' %>
          <%= f.label :menu, 'パーソナルカラー養成講座無料相談', class: 'form-check-label mr-2' %>
        </div>
        <div class='checkbox-inline col-sm-4 mt-4'>
          <%= f.radio_button :menu, :lecture_and_lecture_requests, class: 'form-check-input' %>
          <%= f.label :menu, '講座・講演依頼', class: 'form-check-label mr-2' %>
        </div> 
      </div>
    </div>
  </div>
  <div class='row mt-5'>
    <%= f.label :discount, 'お顔出し割引適用', class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10 text-left pt-2'>
      <div class='row ml-1'>
        <div class='form-check form-check-inline col-sm-3'>
          <%= f.radio_button :discount, :discounted_rates, class: 'form-check-input' %>
          <%= f.label :discount, 'あり(割引料金)', class: 'form-check-label' %>
        </div>
        <div class='form-check form-check-inline col-sm-3'>
          <%= f.radio_button :discount, :regular_rate, class: 'form-check-input' %>
          <%= f.label :discount, 'なし(通常料金)', class: 'form-check-label' %>
        </div>
      </div>
    </div>
  </div>
  <div class='row mt-5'>
    <%= f.label :payment, 'お支払方法', class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10 text-left pt-2'>
      <div class='row ml-1'>
        <div class='form-check form-check-inline col-sm-2'>
          <%= f.radio_button :payment, :bank_transfer, class: 'form-check-input' %>
          <%= f.label :payment, '銀行振込', class: 'form-check-label' %>
        </div>
        <div class='form-check form-check-inline col-sm-3'>
          <%= f.radio_button :payment, :credit_card, class: 'form-check-input' %>
          <%= f.label :payment, 'クレジットカード決済', class: 'form-check-label' %>
        </div>
        <div class='form-check form-check-inline col-sm-2'>
          <%= f.radio_button :payment, :free_consultation, class: 'form-check-input' %>
          <%= f.label :payment, '無料相談', class: 'form-check-label' %>
        </div>
        <div class='form-check form-check-inline col-sm-2'>
          <%= f.radio_button :payment, :other, class: 'form-check-input' %>
          <%= f.label :payment, '無料相談', class: 'form-check-label' %>
        </div>
      </div>
    </div>
  </div>
  <div class='row mt-5'>
    <%= f.label :start_time, '面談希望日', class: 'col-sm-2 form-check-label' %>
    <div class='col-sm-7' id="events_calendar">
      <%= render partial: "calendar", locals: {events: @contacts} %>
    </div>
  </div>
  <div class='row mt-5'>
    <%= f.label :content, 'お問い合わせ内容', class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-7'>
      <%= f.text_area :content, class: 'form-control', size: '35x15' %>
    </div>
  </div>
  <%= f.submit '確認画面へ', class: 'btn btn-primary btn-lg mt-5'%>
</div>
<% end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<%= render "calendar_modal" %>