<% reservations = Contact.reservation %>

<div>
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '先週'), calendar.url_for_previous_view, remote: true %>
      <span class="calendar-title"></span>
    <%= link_to t('simple_calendar.next', default: '来週'), calendar.url_for_next_view, remote: true %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <td></td>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% passed_block.call day.strftime("%-m/%d"), sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        </tr>
        <% times.each do |time| %>
          <tr>
            <td><%= time %></td>
            <% week.each do |day| %>
              <td>
                <% if check_reservation(reservations, day, time)%>
                  <%= '×' %>
                <% else %>
                  <%= link_to "", "data-toggle" => "modal", "data-target" => "#calendar" do %> 
                    <%= '〇' %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
